a {
    color: black;
    text-decoration: none;
}

.men_list{
    display: flex;
    background-color: white;
    padding: 11px 4%;
    margin: 0 -1%;
    font-size: 11px;
}

.men_section_heading{
    font-size: 13px;
    color: #cd4f26;
    padding: 3px 0;
}

.section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9, .section10, .section11, .section12, .section13, .section14{
    width: 14rem;
    margin-top: 5%;
}

.men_type_heading{
    font-size: 12px;
    font-weight: 300;
}

hr{
    width: 10rem;
}