div#search_filter{
    position: absolute;
    right: 1%;
}

a#navbarDropdownMenuLink, a.nav-link {
    color: white !important;
}

.dropdown-menu.show{
    position: absolute;
    left: -3rem;
}

#home_content{
    position: absolute;
    left: 5%;
}