* {
  margin: 0;
  padding: 0 0 6px 0;
}

.nav-link,
.nav-link:hover {
  color: black;
}

/* sidebar css only */
.admin_sidebar {
  width: 13rem;
  padding: 1rem 1rem 1rem 0;
}

.homepage_sidebar {
  max-width: 12rem;
  position: relative;
}

.highlighted {
  background-color: #4c64e5 !important;
  color: white !important;
  border-radius: 0px !important;
}
/* -------------------------------------------------------- */

.logged_in_alert_dismissible,
.category_title_alert_dismissible,
.category_title_delete_alert_dismissible,
.category_title_success_dismissible,
.category_header_success_dismissible,
.category_header_alert_dismissible,
.category_header_delete_alert_dismissible,
.category_types_delete_alert_dismissible,
.category_types_alert_dismissible,
.category_types_success_dismissible,
.role_alert_dismissible,
.role_success_dismissible,
.role_delete_alert_dismissible, 
.user_delete_alert_dismissible, 
.role_update_alert_dismissible, /* toggle button in user table */ 
.role_update_success_dismissible, /* toggle button in user table */
.products_alert_dismissible,
.products_success_dismissible,
.products_delete_alert_dismissible,
.edit_products_alert_dismissible,
.add_size_alert_dismissible,
.add_size_success_dismissible,
.size_alert_dismissible,
.size_success_dismissible,
.size_delete_alert_dismissible,
.add_color_alert_dismissible,
.add_color_success_dismissible,
.color_alert_dismissible,
.color_success_dismissible,
.color_delete_alert_dismissible,
.add_discount_alert_dismissible, 
.add_discount_success_dismissible,
.discount_delete_alert_dismissible,
.discount_update_alert_dismissible,
.discount_update_success_dismissible,
.edit_discount_alert_dismissible,
.edit_discount_success_dismissible {
  font-size: 15px;
  position: absolute;
  right: 9px;
  top: 6px;
  z-index: 9;
}

.logged_in_alert_dismissible,
.role_alert_dismissible,
.user_delete_alert_dismissible,
.role_update_alert_dismissible,
.role_update_success_dismissible {
  width: 15rem;
}

.category_title_alert_dismissible,
.category_title_success_dismissible,
.category_title_delete_alert_dismissible,
.category_types_delete_alert_dismissible,
.category_types_alert_dismissible,
.category_types_success_dismissible,
.role_success_dismissible,
.role_delete_alert_dismissible,
.products_alert_dismissible,
.products_success_dismissible,
.add_size_alert_dismissible,
.add_size_success_dismissible,
.add_discount_alert_dismissible,
.add_discount_success_dismissible {
  width: 18rem;
}

.add_color_alert_dismissible,
.add_color_success_dismissible{
  width: 16rem;
}

.edit_products_alert_dismissible{
  width: 23rem;
}

.category_header_delete_alert_dismissible,
.category_header_alert_dismissible,
.category_header_success_dismissible,
.discount_update_alert_dismissible,
.discount_update_success_dismissible,
.discount_delete_alert_dismissible,
.edit_discount_alert_dismissible,
.edit_discount_success_dismissible {
  width: 20rem;
}

.homepage_section {
  display: flex;
}

.category_title_action,
.category_types_action,
.users_detail_page_action,
.roles_action,
.products_action,
.size_action,
.color_action,
.discount_action {
  display: flex;
  position: absolute;
  margin-top: -0.75rem;
}

.category_header_action {
  display: flex;
  position: absolute;
}

.users_detail_toogle_button,
.discount_toogle_button {
  margin-top: 5px;
}

.table > :not(caption) > * > td {
  border-bottom-width: 0px !important;
}

.category_title_heading,
.category_header,
.category_header_title,
.category_types_heading,
.users_detail_heading,
.roles_heading,
.edit_role_heading,
.size_heading,
.color_heading,
.discount_heading,
.products_heading {
  text-align: center;
  margin: 1% 0% 0;
}

.users_detail_toogle_button,
.category_title_edit,
.category_header_edit,
.category_types_edit,
.users_detail_edit,
.roles_edit,
.product_info,
.products_edit,
.size_edit,
.color_edit,
.discount_edit,
.discount_toogle_button {
  margin-right: 15px;
}

.products_description_in_modal {
  word-wrap: break-word;
}

.container {
  position: relative;
}

.add_category_title,
.add_category_header,
.add_category_types,
.edit_category_header,
.users_detail_page,
.roles_title,
.add_products,
.edit_products,
.add_size,
.edit_size,
.add_color,
.edit_color,
.add_discount {
  display: flex;
  justify-content: space-between;
  padding: 0 1% 1%;
}

.category_title_plus_icon,
.category_header_plus_icon,
.category_types_plus_icon,
.users_detail_plus_icon,
.roles_plus_icon,
.products_plus_icon,
.size_plus_icon,
.color_plus_icon,
.discount_plus_icon {
  font-size: 1.5rem;
  border: 1px solid;
  border-radius: 51%;
  padding: 5px;
  color: black;
}

.category_title_back_button,
.add_category_title_back_button,
.edit_category_title_back_button,
.category_header_back_button,
.add_category_header_back_button,
.edit_category_header_back_button,
.category_types_back_button,
.add_category_types_back_button,
.users_detail_back_button,
.roles_back_button,
.add_role_back_button,
.edit_role_back_button,
.products_back_button,
.add_products_back_button,
.edit_products_back_button,
.size_back_button,
.size_plus_icon,
.add_size_back_button, 
.edit_size_back_button, 
.color_back_button,
.color_plus_icon,
.add_color_back_button, 
.edit_color_back_button, 
.discount_back_button,
.discount_plus_icon,
.add_discount_back_button,
.edit_discount_back_button {
  font-size: 1.5rem;
  padding: 5px;
  color: black;
}

.discount_file_import{
  font-size: 2rem;
  margin-left: 5px;
  padding: 5px;
  color: black;
}

.add_categories_header_name {
  width: 30%;
  margin-left: 36%;
  text-align: center;
}

.category_title_edit:hover,
.category_title_delete:hover,
.users_detail_edit:hover,
.users_detail_delete:hover,
.category_header_edit:hover,
.category_header_delete:hover,
.category_types_edit:hover,
.category_types_delete:hover,
.roles_edit:hover,
.roles_delete:hover,
.product_info,
.products_edit,
.products_delete,
.size_edit:hover,
.size_delete:hover,
.color_edit:hover,
.color_delete:hover,
.discount_edit:hover,
.discount_delete:hover {
  cursor: pointer;
}

/* CSS for the add category title page */
.add_category_title_name_button,
.edit_category_title_name_button,
.add_category_header_name_button,
.edit_category_header_name_button,
.add_category_types_name_button,
.add_role_name_button,
.edit_role_name_button,
.add_products_name_button,
.edit_products_name_button,
.add_size_name_button,
.edit_size_name_button,
.add_color_name_button,
.edit_color_name_button,
.add_discount_name_button,
.edit_discount_name_button {
  text-align: center;
}

.preview_image_remove_button {
  position: absolute;
  top: 4px;
  right: 5px;
  padding: 0px 5px;
  border: none;
  background: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.add_category_name,
.add_category_header_names,
.edit_category_name,
.edit_category_header_names,
.add_role_name,
.edit_role_name,
.add_size_name,
.edit_size_name,
.add_color_name,
.edit_color_name {
  width: 30%;
  margin-left: 36%;
}

.add_products_name,
.edit_products_name,
.add_discount_name,
.edit_discount_name {
  width: 50%;
  margin-left: 25%;
}

.products_category_type_and_quantity,
.products_size_and_color,
.products_price_and_discount {
  display: flex;
  width: 98%;
}

#add_category_title_name_err,
#edit_category_title_name_err,
#add_category_header_name_err,
#edit_category_header_name_err,
#add_category_header_title_err,
#edit_category_header_title_err,
#add_category_types_name_err,
#add_role_name_err,
#add_products_name_err,
#add_products_description_err,
#add_products_category_type_err,
#add_products_quantity_err,
#add_products_size_err,
#add_products_color_err,
#add_products_price_err,
#add_products_discount_err,
#add_products_image_err,
#add_size_name_err,
#edit_size_name_err,
#add_color_name_err,
#edit_color_name_err,
#add_discount_code_name_err,
#add_discount_discount_type_err,
#add_discount_active_inactive_err,
#add_discount_price_err,
#add_discount_expire_date_err,
#edit_discount_code_name_err,
#edit_discount_discount_type_err,
#edit_discount_active_inactive_err,
#edit_discount_price_err,
#edit_discount_expire_date_err {
  display: block;
  text-align: start;
}

.important_mark {
  color: red;
}

.indian_rupee_sign {
  height: 116%;
  border-radius: 0;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.discount_type_dropdown {
  height: 119%;
  border-radius: 0;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border: 1px solid #bfbfbf;
  padding: 0 0.25rem;
}

.product_discount_centered {
  text-align: center;
}

.percentage_sign {
  height: 116%;
  border-radius: 0;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

/* for toggle button in admin page */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.users_detail_toogle_button_role_change,
.discount_toogle_button_active_change {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.users_detail_toogle_button_role_change:before,
.discount_toogle_button_active_change:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .users_detail_toogle_button_role_change,
input:checked + .discount_toogle_button_active_change {
  background-color: #2196f3;
}

input:focus + .users_detail_toogle_button_role_change,
input:focus + .discount_toogle_button_active_change {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .users_detail_toogle_button_role_change:before,
input:checked + .discount_toogle_button_active_change:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Toggles buttons */
.users_detail_toogle_button_role_change,
.discount_toogle_button_active_change {
  border-radius: 34px;
}

.users_detail_toogle_button_role_change:before,
.discount_toogle_button_active_change:before {
  border-radius: 50%;
}

.placeholder_grey {
  color: grey;
}

/* datapicker css */
div#ui-datepicker-div {
  background-color: white;
  border: 1px solid #cbcbcb;
  width: 15rem;
  display: none;
}

a.ui-state-default,
a.ui-datepicker-next.ui-corner-all,
.ui-datepicker-prev.ui-corner-all {
  color: black;
  text-decoration: none;
  padding: 7px;
}

a.ui-datepicker-next.ui-corner-all:hover,
.ui-datepicker-prev.ui-corner-all:hover {
  cursor: pointer;
}

.ui-datepicker-calendar > thead > tr > th {
  padding: 0 6px;
}

.ui-datepicker-title {
  text-align: end;
  padding-right: 10px;
}

a.ui-datepicker-next.ui-corner-all {
  position: absolute;
  right: 0;
  top: -7px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #00000078;
  height: 4rem;
  width: 1.25rem;
  border-radius: 6px;
}

/* products css */
.product_images {
  width: 38rem;
}

.product_images_description{
  display: flex;
}

.product_review_rating_star{
  color: orange;
}

.user_email_for_product_review{
  font-size: 13px;
  position: relative;
  left: 2px;
  top: -3px;
}

.product_review_rating{
  position: absolute;
  right: 1rem;
  width: 12rem;
}

.user_review_part{
  margin-bottom: 1.5rem;
}

.user_review_date{
  font-size: 14px;
}

.product_review_user_uploded_images{
  width: 8rem !important;
  margin-right: 1rem;
}

.product_review_user_uploded_images:hover,
.product_uploded_images:hover{
  cursor: pointer;
}

.products_uploaded_images{
  display: flex;
}

/* dashboard css */
.dashboard_charts_details{
  margin-top: 1rem;
}

.card.text-bg-light.mb-3.me-3 {
  width: 17rem;
}

.pending_orders_count_details,
.category_heading_count_details {
  border-bottom: 5px solid #33d933;
}

.active_orders_count_detials,
.category_types_count_details {
  border-bottom: 5px solid #db980dc2;
}

.delivered_orders_count_detials,
.products_count_details {
  border-bottom: 5px solid #e98ed3;
}

.customer_cancel_orders_count_details,
.discount_count_details {
  border-bottom: 5px solid #d94f58;
}

.category_heading_count_details:hover,
.category_types_count_details:hover,
.products_count_details:hover,
.discount_count_details:hover {
  cursor: pointer;
}

.color_code_showing_color{
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 8px;
}

#color_picker{
  width: 11rem;
  border: none;
  background: white;
  height: 2rem;
  position: absolute;
  margin-left: 1rem;
}

.add_products_size,
.add_products_color {
  display: block !important;
  width: 100% !important;
}

@media screen and (max-width: 825px) {
  .homepage_sidebar {
    display: none;
  }
}
