* {
  margin: 0;
  padding: 0 0 6px 0;
}
/* sidebar css only */
.dropdown {
  position: fixed;
  bottom: 0px;
  width: 10%;
  padding-top: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

.dropdown-menu {
  position: absolute;
  inset: auto auto 0px 0px;
  margin: 0px;
  transform: translate(0px, -46px);
}

.admin_sidebar {
  width: 12%;
}

.homepage_sidebar {
  max-width: 12rem;
}

li {
  width: 11rem;
}
/* -------------------------------------------------------- */

.logged_in_alert_dismissible,
.category_title_alert_dismissible,
.category_title_delete_alert_dismissible,
.category_title_success_dismissible,
.category_header_success_dismissible,
.category_header_alert_dismissible,
.category_header_delete_alert_dismissible,
.category_types_delete_alert_dismissible,
.category_types_alert_dismissible,
.category_types_success_dismissible,
.role_alert_dismissible,
.role_success_dismissible,
.role_delete_alert_dismissible, 
.user_delete_alert_dismissible, 
.role_update_alert_dismissible, /* toggle button in user table */ 
.role_update_success_dismissible, /* toggle button in user table */
.products_alert_dismissible,
.products_success_dismissible,
.products_delete_alert_dismissible {
  font-size: 15px;
  position: absolute;
  right: 9px;
  top: 6px;
  z-index: 9;
}

.logged_in_alert_dismissible,
.role_alert_dismissible,
.user_delete_alert_dismissible, 
.role_update_alert_dismissible, 
.role_update_success_dismissible {
  width: 15rem;
}

.category_title_alert_dismissible,
.category_title_success_dismissible,
.category_title_delete_alert_dismissible,
.category_types_delete_alert_dismissible,
.category_types_alert_dismissible,
.category_types_success_dismissible,
.role_success_dismissible,
.role_delete_alert_dismissible,
.products_alert_dismissible,
.products_success_dismissible {
  width: 18rem;
}

.category_header_delete_alert_dismissible,
.category_header_alert_dismissible,
.category_header_success_dismissible {
  width: 20rem;
}

.homepage_section {
  display: flex;
}

.category_section_page,
.category_title_action,
.category_types_action,
.users_detail_page_action,
.roles_action,
.products_action {
  display: flex;
  position: absolute;
  margin-top: -0.75rem;
}

.category_header_action{
  display: flex;
  position: absolute;
}

.users_detail_toogle_button {
  margin-top: 5px;
}

.table > :not(caption) > * > td {
  border-bottom-width: 0px !important;
}

.category_title_heading,
.category_header,
.category_header_title,
.category_types_heading,
.users_detail_heading,
.roles_heading,
.edit_role_heading, 
.products_heading {
  text-align: center;
  margin: 1% 0% 0;
}

.users_detail_toogle_button,
.category_title_edit,
.category_header_edit,
.category_types_edit,
.users_detail_edit,
.roles_edit,
.products_edit {
  margin-right: 15px;
}

.container {
  position: relative;
}

.add_category_title,
.add_category_header,
.add_category_types,
.edit_category_header,
.users_detail_page,
.roles_title,
.add_products,
.edit_products {
  display: flex;
  justify-content: space-between;
  padding: 0 1% 1%;
}

.category_title_plus_icon,
.category_header_plus_icon,
.category_types_plus_icon,
.users_detail_plus_icon,
.roles_plus_icon,
.products_plus_icon {
  font-size: 1.5rem;
  border: 1px solid;
  border-radius: 51%;
  padding: 5px;
  color: black;
}

.category_title_back_button,
.add_category_title_back_button,
.edit_category_title_back_button,
.category_header_back_button,
.add_category_header_back_button,
.edit_category_header_back_button,
.category_types_back_button,
.add_category_types_back_button,
.users_detail_back_button,
.roles_back_button,
.add_role_back_button,
.edit_role_back_button,
.products_back_button,
.add_products_back_button, 
.edit_products_back_button {
  font-size: 1.5rem;
  padding: 5px;
  color: black;
}

.add_categories_header_name {
  width: 30%;
  margin-left: 36%;
  text-align: center;
}

.category_title_edit:hover,
.category_title_delete:hover,
.users_detail_edit:hover,
.users_detail_delete:hover,
.category_header_edit:hover,
.category_header_delete:hover,
.category_types_edit:hover,
.category_types_delete:hover,
.roles_edit:hover,
.roles_delete:hover,
.products_edit,
.products_delete {
  cursor: pointer;
}

/* CSS for the add category title page */
.add_category_title_name_button,
.edit_category_title_name_button,
.add_category_header_name_button,
.edit_category_header_name_button,
.add_category_types_name_button,
.add_role_name_button,
.edit_role_name_button,
.add_products_name_button, 
.edit_products_name_button {
  text-align: center;
}

.preview_image_remove_button {
  position: absolute;
  top: 4px;
  right: 5px;
  padding: 0px 5px;
  border: none;
  background: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.add_category_name,
.add_category_header_names,
.edit_category_name,
.edit_category_header_names,
.add_role_name,
.edit_role_name {
  width: 30%;
  margin-left: 36%;
}

.add_products_name, 
.edit_products_name {
  width: 50%;
  margin-left: 25%;
}

.products_category_type_and_quantity,
.products_price_and_discount{
  display: flex;
  width: 98%;
}

#add_category_title_name_err,
#edit_category_title_name_err,
#add_category_header_name_err,
#edit_category_header_name_err,
#add_category_header_title_err,
#edit_category_header_title_err,
#add_category_types_name_err,
#add_role_name_err,
#add_products_name_err,
#add_products_description_err,
#add_products_category_type_err,
#add_products_quantity_err,
#add_products_price_err,
#add_products_discount_err,
#add_products_image_err {
  display: block;
  text-align: start;
}

.important_mark {
  color: red;
}

.indian_rupee_sign{
  height: 116%;
  border-radius: 0;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.product_discount_centered{
  text-align: center;
}

.percentage_sign{
  height: 116%;
  border-radius: 0;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

/* for toggle button in admin page */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.users_detail_toogle_button_role_change {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.users_detail_toogle_button_role_change:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .users_detail_toogle_button_role_change {
  background-color: #2196f3;
}

input:focus + .users_detail_toogle_button_role_change {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .users_detail_toogle_button_role_change:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.users_detail_toogle_button_role_change {
  border-radius: 34px;
}

.users_detail_toogle_button_role_change:before {
  border-radius: 50%;
}

.placeholder_grey {
  color: grey;
}

@media screen and (max-width: 825px) {
  .homepage_sidebar {
    display: none;
  }
}
