* {
  margin: 0;
  padding: 0 0 6px 0;
}

.nav-link,
.nav-link:hover {
  color: black;
}

/* sidebar css only */
.admin_sidebar {
  width: 13rem;
  padding: 1rem 1rem 1rem 0;
}

.homepage_sidebar {
  max-width: 12rem;
  position: relative;
}

.highlighted {
  background-color: #4c64e5 !important;
  color: white !important;
  border-radius: 0px !important;
  margin: 0 !important;
  text-align: left !important;
}

/* ----------------------------------------------------------------------------------- */
.logged_in_alert_dismissible,
.category_title_alert_dismissible,
.category_title_delete_alert_dismissible,
.category_title_success_dismissible,
.category_header_success_dismissible,
.category_header_alert_dismissible,
.category_header_delete_alert_dismissible,
.category_header_imported_success_dismissible,
.category_header_imported_alert_dismissible,
.category_type_delete_alert_dismissible, 
.category_type_delete_success_dismissible,
.category_types_success_dismissible,
.category_types_alert_dismissible,
.category_types_imported_success_dismissible,
.category_types_imported_alert_dismissible,
.products_alert_dismissible,
.products_success_dismissible,
.products_delete_alert_dismissible,
.edit_products_alert_dismissible,
.add_size_alert_dismissible,
.add_size_success_dismissible,
.size_alert_dismissible,
.size_success_dismissible,
.size_delete_alert_dismissible,
.add_color_alert_dismissible,
.add_color_success_dismissible,
.color_alert_dismissible,
.color_success_dismissible,
.color_delete_alert_dismissible,
.add_discount_alert_dismissible,
.add_discount_success_dismissible,
.discount_delete_alert_dismissible,
.discount_update_alert_dismissible,
.discount_update_success_dismissible,
.edit_discount_alert_dismissible,
.edit_admin_detail_alert_dismissible,
.edit_admin_detail_success_dismissible,
.edit_discount_success_dismissible,
.role_alert_dismissible,
.role_success_dismissible,
.role_delete_alert_dismissible, 
.user_delete_alert_dismissible, 
.role_update_alert_dismissible, /* toggle button in user table */ 
.role_update_success_dismissible, /* toggle button in user table */
.user_active_update_success_dismissible, /* toggle button in user table */
.user_active_update_alert_dismissible, /* toggle button in user table */ 
.size_imported_alert_dismissible,
.size_imported_success_dismissible,
.brands_imported_alert_dismissible,
.brands_imported_success_dismissible,
.products_uploaded_image_delete_success_dismissible,
.products_uploaded_image_delete_alert_dismissible,
.brands_alert_dismissible,
.brands_success_dismissible,
.brands_delete_alert_dismissible,
.brands_delete_success_dismissible {
  font-size: 15px;
  position: absolute;
  right: -8rem;
  top: 6px;
  z-index: 9;
}

.logged_in_alert_dismissible,
.role_alert_dismissible,
.user_delete_alert_dismissible,
.role_update_alert_dismissible,
.role_update_success_dismissible,
.user_active_update_success_dismissible,
.user_active_update_alert_dismissible,
.size_imported_success_dismissible,
.size_imported_alert_dismissible,
.brands_imported_alert_dismissible,
.products_uploaded_image_delete_success_dismissible,
.products_uploaded_image_delete_alert_dismissible,
.brands_alert_dismissible,
.brands_delete_alert_dismissible,
.brands_delete_success_dismissible {
  width: 15rem;
}

.category_title_alert_dismissible,
.category_title_success_dismissible,
.category_type_delete_alert_dismissible,
.category_type_delete_success_dismissible,
.category_types_alert_dismissible,
.role_success_dismissible,
.role_delete_alert_dismissible,
.products_alert_dismissible,
.products_success_dismissible,
.add_size_alert_dismissible,
.add_size_success_dismissible,
.add_discount_alert_dismissible,
.add_discount_success_dismissible,
.edit_admin_detail_alert_dismissible,
.edit_admin_detail_success_dismissible,
.brands_success_dismissible,
.brands_imported_success_dismissible {
  width: 18rem;
}

.add_color_alert_dismissible,
.add_color_success_dismissible {
  width: 16rem;
}

.category_types_success_dismissible {
  width: 21rem;
}

.edit_products_alert_dismissible {
  width: 23rem;
}

.category_header_imported_alert_dismissible,
.category_types_imported_alert_dismissible {
  width: 25rem;
}

.category_header_delete_alert_dismissible,
.category_header_alert_dismissible,
.category_header_success_dismissible,
.discount_update_alert_dismissible,
.discount_update_success_dismissible,
.discount_delete_alert_dismissible,
.edit_discount_alert_dismissible,
.edit_discount_success_dismissible,
.category_header_imported_success_dismissible,
.category_types_imported_success_dismissible {
  width: 20rem;
}

.homepage_section {
  display: flex;
}

.category_title_action,
.category_types_action,
.users_detail_page_action,
.roles_action,
.products_action,
.size_action,
.color_action,
.discount_action,
.brands_action {
  display: flex;
  position: absolute;
  margin-top: -0.5rem;
}

.category_header_action {
  display: flex;
  position: absolute;
}

.users_detail_toggle_button,
.users_active_toggle_button,
.discount_toggle_button {
  margin-top: 2px;
}

.table > :not(caption) > * > td {
  border-bottom-width: 0px !important;
}

.category_title_heading,
.category_header_title,
.category_types_heading,
.users_detail_heading,
.admin_detail_heading,
.edit_admin_detail_heading,
.admin_detail_submit_details,
.roles_heading,
.edit_role_heading,
.size_heading,
.color_heading,
.discount_heading,
.products_heading,
.brands_heading,
.brands_title {
  text-align: center;
  margin: 1% 0% 0;
}

.users_detail_toggle_button,
.users_active_toggle_button,
.category_title_edit,
.category_header_edit,
.category_types_edit,
.users_detail_edit,
.roles_edit,
.product_info,
.products_edit,
.size_edit,
.color_edit,
.discount_edit,
.discount_toggle_button,
.brands_edit {
  margin-right: 15px;
}

.products_description_in_modal {
  word-wrap: break-word;
}

.container {
  position: relative;
}

.add_category_title,
.add_category_header,
.add_category_types,
.edit_category_header,
.edit_category_types,
.users_detail_page,
.admin_detail_page,
.edit_admin_detail_page,
.roles_title,
.add_products,
.edit_products,
.add_size,
.edit_size,
.add_color,
.edit_color,
.add_discount,
.add_brands,
.edit_brands {
  display: flex;
  justify-content: space-between;
  padding: 0 1% 1%;
}

.category_title_plus_icon,
.category_header_plus_icon,
.category_types_plus_icon,
.users_detail_plus_icon,
.roles_plus_icon,
.products_plus_icon,
.size_plus_icon,
.color_plus_icon,
.discount_plus_icon,
.brands_plus_icon {
  font-size: 1.5rem;
  border: 1px solid;
  border-radius: 51%;
  padding: 5px;
  color: black;
}

.category_title_back_button,
.add_category_title_back_button,
.edit_category_title_back_button,
.category_header_back_button,
.add_category_header_back_button,
.edit_category_header_back_button,
.category_types_back_button,
.add_category_types_back_button,
.edit_category_types_back_button,
.users_detail_back_button,
.admin_detail_back_button,
.admin_detail_edit_button,
.edit_admin_detail_back_button,
.roles_back_button,
.add_role_back_button,
.edit_role_back_button,
.products_back_button,
.add_products_back_button,
.edit_products_back_button,
.size_back_button,
.size_plus_icon,
.add_size_back_button,
.edit_size_back_button,
.color_back_button,
.color_plus_icon,
.add_color_back_button,
.edit_color_back_button,
.discount_back_button,
.discount_plus_icon,
.add_discount_back_button,
.edit_discount_back_button,
.brands_back_button,
.brands_plus_icon,
.add_brands_back_button,
.edit_brands_back_button {
  font-size: 1.5rem;
  padding: 5px;
  color: black;
}

.size_file_import,
.brands_file_import,
.category_header_file_import,
.category_types_file_import {
  font-size: 2rem;
  margin-left: 5px;
  padding: 5px;
  color: black;
}

.add_categories_header_name {
  width: 30%;
  margin-left: 36%;
  text-align: center;
}

.category_title_edit:hover,
.category_title_delete:hover,
.users_detail_edit:hover,
.users_detail_delete:hover,
.category_header_edit:hover,
.category_header_delete:hover,
.category_types_edit:hover,
.category_types_delete:hover,
.roles_edit:hover,
.roles_delete:hover,
.product_info,
.products_edit,
.products_delete,
.size_edit:hover,
.size_delete:hover,
.color_edit:hover,
.color_delete:hover,
.discount_edit:hover,
.discount_delete:hover,
.brands_edit:hover,
.brands_delete:hover {
  cursor: pointer;
}

.admin_detials_firstname_lastname,
.admin_detials_username_email,
.admin_detials_mobile_number_date_of_birth,
.edit_admin_detials_firstname_lastname,
.edit_admin_detials_username_email,
.edit_admin_detials_mobile_number_date_of_birth,
.edit_admin_detials_password_confirm_password,
.products_sizes_in_modal {
  display: flex;
}

.admin_personal_detials,
.edit_admin_personal_detials {
  position: absolute;
  left: 28%;
}

.password-match {
  border: 2.5px solid green;
}

.password-not-matched {
  border: 2.5px solid red;
}

.edit_admin_password.is-invalid,
.edit_admin_confirm_password.is-invalid {
  background-image: none;
}

.edit_admin_password_icon,
.edit_admin_confirm_password_icon {
  display: block;
  position: absolute;
  top: 40px;
  right: 11px;
}

.edit_admin_password,
.edit_admin_confirm_password {
  padding-right: 2.25rem;
}

.form-group.me-3 {
  width: 18rem;
}

/* CSS for the add category title page */
.add_category_title_name_button,
.edit_category_title_name_button,
.add_category_header_name_button,
.edit_category_header_name_button,
.add_category_types_name_button,
.edit_category_types_name_button,
.add_role_name_button,
.edit_role_name_button,
.add_products_name_button,
.edit_products_name_button,
.add_size_name_button,
.edit_size_name_button,
.add_color_name_button,
.edit_color_name_button,
.add_discount_name_button,
.edit_discount_name_button,
.add_brands_name_button,
.edit_brands_name_button {
  text-align: center;
}

.preview_image_remove_button {
  position: absolute;
  top: 4px;
  right: 5px;
  padding: 0px 5px;
  border: none;
  background: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.uploaded_image_close_button {
  position: absolute;
  top: 8px;
  right: 10px;
  padding: 0px 5px;
  border: none;
  background: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.add_category_name,
.add_category_header_names,
.edit_category_name,
.edit_category_header_names,
.add_role_name,
.edit_role_name,
.add_size_name,
.edit_size_name,
.add_color_name,
.edit_color_name,
.add_brands_names,
.edit_brands_names {
  width: 30%;
  margin-left: 36%;
}

.add_products_name,
.edit_products_name,
.add_discount_name,
.edit_discount_name {
  width: 50%;
  margin-left: 25%;
}

.products_brands_name_and_names,
.products_category_type_and_quantity,
.products_size_and_color,
.products_price_and_discount {
  display: flex;
  width: 98%;
}

#add_category_title_name_err,
#edit_category_title_name_err,
#add_category_header_name_err,
#edit_category_header_name_err,
#add_category_header_title_err,
#edit_category_header_title_err,
#add_category_title_input_title_err,
#add_category_header_input_title_err,
#add_category_types_input_name_err,
#edit_category_title_input_title_err,
#edit_category_header_input_title_err,
#edit_category_types_input_name_err,
#add_role_name_err,
#add_products_brands_name_err,
#add_products_name_err,
#add_products_description_err,
#add_products_category_type_err,
#add_products_quantity_err,
#add_products_size_err,
#add_products_color_err,
#add_products_price_err,
#add_products_discount_err,
#add_products_image_err,
#edit_products_brands_name_err,
#edit_products_name_err,
#edit_products_description_err,
#edit_products_category_type_err,
#edit_products_quantity_err,
#edit_products_size_err,
#edit_products_color_err,
#edit_products_price_err,
#edit_products_discount_err,
#edit_products_image_err,
#add_size_name_err,
#edit_size_name_err,
#add_color_name_err,
#edit_color_name_err,
#add_discount_code_name_err,
#add_discount_discount_type_err,
#add_discount_active_inactive_err,
#add_discount_price_err,
#add_discount_expire_date_err,
#edit_discount_code_name_err,
#edit_discount_discount_type_err,
#edit_discount_active_inactive_err,
#edit_discount_price_err,
#edit_discount_expire_date_err,
#edit_admin_first_name_err,
#edit_admin_last_name_err,
#edit_admin_username_err,
#edit_admin_email_err,
#edit_admin_mobile_number_err,
#edit_admin_date_of_birth_err,
#edit_admin_password_err,
#edit_admin_confirm_password_err,
#add_brands_name_err,
#edit_brands_name_err {
  display: block;
  text-align: start;
}

.important_mark {
  color: red;
}

.indian_rupee_sign {
  height: 116%;
  border-radius: 0;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.discount_type_dropdown {
  height: 119%;
  border-radius: 0;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border: 1px solid #bfbfbf;
  padding: 0 0.25rem;
}

.product_discount_centered {
  text-align: center;
}

.percentage_sign {
  height: 116%;
  border-radius: 0;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

/* for toggle button in admin page */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.users_detail_toggle_button_role_change,
.users_active_toggle_button_change,
.discount_toggle_button_active_change {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.users_detail_toggle_button_role_change:before,
.users_active_toggle_button_change:before,
.discount_toggle_button_active_change:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .users_detail_toggle_button_role_change,
input:checked + .users_active_toggle_button_change,
input:checked + .discount_toggle_button_active_change {
  background-color: #2196f3;
}

input:focus + .users_detail_toggle_button_role_change,
input:focus + .users_active_toggle_button_change,
input:focus + .discount_toggle_button_active_change {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .users_detail_toggle_button_role_change:before,
input:checked + .users_active_toggle_button_change:before,
input:checked + .discount_toggle_button_active_change:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Toggles buttons */
.users_detail_toggle_button_role_change,
.users_active_toggle_button_change,
.discount_toggle_button_active_change {
  border-radius: 34px;
}

.users_detail_toggle_button_role_change:before,
.users_active_toggle_button_change:before,
.discount_toggle_button_active_change:before {
  border-radius: 50%;
}

.placeholder_grey {
  color: grey;
}

/* datapicker css */
div#ui-datepicker-div {
  background-color: white;
  border: 1px solid #cbcbcb;
  width: 15rem;
  display: none;
}

a.ui-state-default,
a.ui-datepicker-next.ui-corner-all,
.ui-datepicker-prev.ui-corner-all {
  color: black;
  text-decoration: none;
  padding: 7px;
}

a.ui-datepicker-next.ui-corner-all:hover,
.ui-datepicker-prev.ui-corner-all:hover {
  cursor: pointer;
}

.ui-datepicker-calendar > thead > tr > th {
  padding: 0 6px;
}

.ui-datepicker-title {
  text-align: end;
  padding: 10px;
}

a.ui-datepicker-next.ui-corner-all {
  position: absolute;
  right: 0;
  top: -7px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #00000078;
  height: 4rem;
  width: 1.25rem;
  border-radius: 6px;
}

.carousel-inner {
  width: 100%;
  height: 22rem;
}

/* products css */
.product_images {
  width: 38rem;
}

.product_images_description {
  display: flex;
}

.product_review_rating_star {
  color: orange;
}

.user_email_for_product_review {
  font-size: 13px;
  position: relative;
  left: 2px;
  top: -3px;
}

.product_review_rating {
  position: absolute;
  right: 1rem;
  width: 12rem;
}

.user_review_part {
  margin-bottom: 1.5rem;
}

.user_review_date {
  font-size: 14px;
}

.product_review_user_uploded_images {
  width: 8rem !important;
  margin-right: 1rem;
}

.product_review_user_uploded_images:hover,
.product_uploded_images:hover {
  cursor: pointer;
}

.products_uploaded_images {
  display: flex;
}

.product_selected_size {
  border: 1px solid #8080807a;
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px 5px 0;
  width: 5rem;
  text-align: center;
}

.products_sizes_in_modal {
  flex-wrap: wrap;
}

.product_selected_color_name {
  width: 2rem;
  height: 2rem;
  display: block;
  border-radius: 6px;
}

.products_modal_brands_name {
  font-size: 2rem;
}

#product_name_in_modal {
  font-weight: 300;
}

/* dashboard css */
.dashboard_charts_details {
  margin-top: 1rem;
}

.card.text-bg-light.mb-3.me-3 {
  width: 17rem;
}

.pending_orders_count_details,
.category_heading_count_details {
  border-bottom: 5px solid #33d933;
}

.active_orders_count_detials,
.category_types_count_details {
  border-bottom: 5px solid #db980dc2;
}

.delivered_orders_count_detials,
.products_count_details {
  border-bottom: 5px solid #e98ed3;
}

.customer_cancel_orders_count_details,
.discount_count_details {
  border-bottom: 5px solid #d94f58;
}

.category_heading_count_details:hover,
.category_types_count_details:hover,
.products_count_details:hover,
.discount_count_details:hover {
  cursor: pointer;
}

.color_code_showing_color {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 8px;
}

#color_picker {
  width: 11rem;
  border: none;
  background: white;
  height: 2rem;
  position: absolute;
  margin-left: 1rem;
}

.add_products_size,
.edit_products_size {
  display: block !important;
  height: 2.5rem !important;
  width: 100% !important;
}

.add_products_size button,
.edit_products_size button {
  height: 2.5rem;
}

.sidebar_profile_dropdown {
  width: 100%;
  margin-left: 3% !important;
}

@media screen and (max-width: 825px) {
  .homepage_sidebar {
    display: none;
  }
}

/* custom dropdown */
.add_products_color {
  position: relative;
}

.custom_product_dropdown_option {
  padding: 7px 0 0 11px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 8px;
  height: 2.5rem;
}

.custom_product_dropdown {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  width: 16.5vw;
  border-radius: 10px;
  height: 20rem;
  overflow-y: scroll;
}

.custom_product_dropdown li {
  padding: 10px;
  cursor: pointer;
}

.custom_product_dropdown li:hover {
  background: #f0f0f0;
}

.additional-info {
  position: absolute;
  width: 5rem;
  height: 26px;
}

.color_name{
  padding-left: 5rem;
}
