body{ 
    font: 14px sans-serif; 
}
.wrapper.login{ 
    width: 360px;
    padding: 20px;
    position: absolute;
    left: 40%;
    top: 25%;
}

h2.login_page_heading {
    margin: 0 0 3% 35%;
}

.form-group.login_submit_details {
    text-align: center;
}

p.login_forgot_password.mt-2 {
    text-align: right;
}

.account_created_alert_dismissible {
    width: 20rem;
    position: absolute;
    right: 20px;
    top: 20px;
}

.visible_password {
    position: absolute;
    top: 29px;
    right: 11px;
}