.wrapper.signup {
  width: 30%;
  padding: 20px;
  position: absolute;
  left: 36%;
  top: 15%;
}

.asterik_important {
  color: red;
}

.name_details,
.username_email_detail,
.username_password_detail,
.mobile_number_dob_details {
  display: flex;
  width: 32rem;
}

.signup_submit_details {
  text-align: center;
  position: absolute;
  width: 90%;
}

.signup_heading {
  position: relative;
  text-align: center;
}

.first_name,
.last_name,
.username,
.email,
.password,
.confirm_password {
  width: 15rem;
}

.form-group.mr-3 {
  width: 15rem;
}

label {
  margin-bottom: 5px;
}

.password-match {
  border: 2.5px solid green;
}

.password.is-invalid,
.confirm_password.is-invalid {
  background-image: none;
}

.visible_password {
  position: absolute;
  top: 40px;
  right: 11px;
}

.visible_confirm_password {
  position: absolute;
  top: 40px;
  right: 11px;
}

/* datapicker css */
div#ui-datepicker-div {
    background-color: white;
    border: 1px solid #cbcbcb;
    width: 15rem;
    display: none;
  }
  
  a.ui-state-default,
  a.ui-datepicker-next.ui-corner-all,
  .ui-datepicker-prev.ui-corner-all {
    color: black;
    text-decoration: none;
    padding: 7px;
  }
  
  a.ui-datepicker-next.ui-corner-all:hover,
  .ui-datepicker-prev.ui-corner-all:hover {
    cursor: pointer;
  }
  
  .ui-datepicker-calendar > thead > tr > th {
    padding: 0 6px;
  }
  
  .ui-datepicker-title {
    text-align: end;
    padding: 10px;
  }
  
  a.ui-datepicker-next.ui-corner-all {
    position: absolute;
    right: 0;
    top: -7px;
  }