.category_section_page, .categories_section_action{
    display: flex;
}

.categories_section_heading{
    text-align: center;
    margin: 4%;
}

.categories_section_edit{
    margin-right: 15px;
}

.container{
    position: relative;
}

.add_categories_section {
    position: absolute;
    right: 3rem;
    top: 6rem;
}

.plus_icon {
    font-size: 2rem;
    border: 1px solid;
    border-radius: 51%;
    padding: 5px;
    color: black;
}