.container_fluid{
    display: flex;
    position: relative;
    margin: 0 3%;
    padding-top: 10px 
}

.navbar_logo{
    width: 7%;
    margin: 18px 9px;
}

.header{
    height: 5rem;
}

.navbar_items{
    display: flex;
    justify-content : space-evenly;
    padding-top: 25px;
    width: 100%;
}

.navbar_dashboard_search_bar{
    padding-top: 10px;
    display: -webkit-box;
    position: absolute;
    right: 20px;
    top: 15px;
}

.navbar_collapse{
    width: 100%;
}

.header_profile, .header_wishlist, .header_bag{
    margin: 0 10px;
}

.dropdown_content {
    display: none;
    position: absolute;
    z-index: 9;
}
  
.nav_item:hover .dropdown_content {
    display: block;
}

a{
    color: black;
    text-decoration: none;
}