.container_fluid{
    display: flex;
    position: relative;
    margin: 0 3%;
}

.navbar_logo{
    width: 7%;
    margin: 16px 9px;
}

.header{
    height: 5rem;
}

.navbar_items{
    display: flex;
    justify-content : space-evenly;
    padding-top: 25px;
    width: 100%;
}

.navbar_dashboard_search_bar{
    padding-top: 10px;
    display: -webkit-box;
    position: absolute;
    right: 20px;
    top: 7px;
}

.navbar_collapse{
    width: 100%;
}

.header_profile, .header_wishlist, .header_bag{
    margin: 0 10px;
}